In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('dataset_1.csv')

In [3]:
df.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0,0,0,3,0,0,0,0.0,67772.7216,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0

In [4]:
for i in df.columns:
    print(i , 'Nullvalues:' , df[i].isnull().sum())

var_1 Nullvalues: 0
var_2 Nullvalues: 0
var_3 Nullvalues: 0
var_4 Nullvalues: 0
var_5 Nullvalues: 0
var_6 Nullvalues: 0
var_7 Nullvalues: 0
var_8 Nullvalues: 0
var_9 Nullvalues: 0
var_10 Nullvalues: 0
var_11 Nullvalues: 0
var_12 Nullvalues: 0
var_13 Nullvalues: 0
var_14 Nullvalues: 0
var_15 Nullvalues: 0
var_16 Nullvalues: 0
var_17 Nullvalues: 0
var_18 Nullvalues: 0
var_19 Nullvalues: 0
var_20 Nullvalues: 0
var_21 Nullvalues: 0
var_22 Nullvalues: 0
var_23 Nullvalues: 0
var_24 Nullvalues: 0
var_25 Nullvalues: 0
var_26 Nullvalues: 0
var_27 Nullvalues: 0
var_28 Nullvalues: 0
var_29 Nullvalues: 0
var_30 Nullvalues: 0
var_31 Nullvalues: 0
var_32 Nullvalues: 0
var_33 Nullvalues: 0
var_34 Nullvalues: 0
var_35 Nullvalues: 0
var_36 Nullvalues: 0
var_37 Nullvalues: 0
var_38 Nullvalues: 0
var_39 Nullvalues: 0
var_40 Nullvalues: 0
var_41 Nullvalues: 0
var_42 Nullvalues: 0
var_43 Nullvalues: 0
var_44 Nullvalues: 0
var_45 Nullvalues: 0
var_46 Nullvalues: 0
var_47 Nullvalues: 0
var_48 Nullvalues: 0
var_49 Nullvalues: 0
var_50 Nullvalues: 0
var_51 Nullvalues: 0
var_52 Nullvalues: 0
var_53 Nullvalues: 0
var_54 Nullvalues: 0
var_55 Nullvalues: 0
var_56 Nullvalues: 0
var_57 Nullvalues: 0
var_58 Nullvalues: 0
var_59 Nullvalues: 0
var_60 Nullvalues: 0
var_61 Nullvalues: 0
var_62 Nullvalues: 0
var_63 Nullvalues: 0
var_64 Nullvalues: 0
var_65 Nullvalues: 0
var_66 Nullvalues: 0
var_67 Nullvalues: 0
var_68 Nullvalues: 0
var_69 Nullvalues: 0
var_70 Nullvalues: 0
var_71 Nullvalues: 0
var_72 Nullvalues: 0
var_73 Nullvalues: 0
var_74 Nullvalues: 0
var_75 Nullvalues: 0
var_76 Nullvalues: 0
var_77 Nullvalues: 0
var_78 Nullvalues: 0
var_79 Nullvalues: 0
var_80 Nullvalues: 0
var_81 Nullvalues: 0
var_82 Nullvalues: 0
var_83 Nullvalues: 0
var_84 Nullvalues: 0
var_85 Nullvalues: 0
var_86 Nullvalues: 0
var_87 Nullvalues: 0
var_88 Nullvalues: 0
var_89 Nullvalues: 0
var_90 Nullvalues: 0
var_91 Nullvalues: 0
var_92 Nullvalues: 0
var_93 Nullvalues: 0
var_94 Nullvalues: 0
var_95 Nullvalues: 0
var_96 Nullvalues: 0
var_97 Nullvalues: 0
var_98 Nullvalues: 0
var_99 Nullvalues: 0
var_100 Nullvalues: 0
var_101 Nullvalues: 0
var_102 Nullvalues: 0
var_103 Nullvalues: 0
var_104 Nullvalues: 0
var_105 Nullvalues: 0
var_106 Nullvalues: 0
var_107 Nullvalues: 0
var_108 Nullvalues: 0
var_109 Nullvalues: 0
var_110 Nullvalues: 0
var_111 Nullvalues: 0
var_112 Nullvalues: 0
var_113 Nullvalues: 0
var_114 Nullvalues: 0
var_115 Nullvalues: 0
var_116 Nullvalues: 0
var_117 Nullvalues: 0
var_118 Nullvalues: 0
var_119 Nullvalues: 0
var_120 Nullvalues: 0
var_121 Nullvalues: 0
var_122 Nullvalues: 0
var_123 Nullvalues: 0
var_124 Nullvalues: 0
var_125 Nullvalues: 0
var_126 Nullvalues: 0
var_127 Nullvalues: 0
var_128 Nullvalues: 0
var_129 Nullvalues: 0
var_130 Nullvalues: 0
var_131 Nullvalues: 0
var_132 Nullvalues: 0
var_133 Nullvalues: 0
var_134 Nullvalues: 0
var_135 Nullvalues: 0
var_136 Nullvalues: 0
var_137 Nullvalues: 0
var_138 Nullvalues: 0
var_139 Nullvalues: 0
var_140 Nullvalues: 0
var_141 Nullvalues: 0
var_142 Nullvalues: 0
var_143 Nullvalues: 0
var_144 Nullvalues: 0
var_145 Nullvalues: 0
var_146 Nullvalues: 0
var_147 Nullvalues: 0
var_148 Nullvalues: 0
var_149 Nullvalues: 0
var_150 Nullvalues: 0
var_151 Nullvalues: 0
var_152 Nullvalues: 0
var_153 Nullvalues: 0
var_154 Nullvalues: 0
var_155 Nullvalues: 0
var_156 Nullvalues: 0
var_157 Nullvalues: 0
var_158 Nullvalues: 0
var_159 Nullvalues: 0
var_160 Nullvalues: 0
var_161 Nullvalues: 0
var_162 Nullvalues: 0
var_163 Nullvalues: 0
var_164 Nullvalues: 0
var_165 Nullvalues: 0
var_166 Nullvalues: 0
var_167 Nullvalues: 0
var_168 Nullvalues: 0
var_169 Nullvalues: 0
var_170 Nullvalues: 0
var_171 Nullvalues: 0
var_172 Nullvalues: 0
var_173 Nullvalues: 0
var_174 Nullvalues: 0
var_175 Nullvalues: 0
var_176 Nullvalues: 0
var_177 Nullvalues: 0
var_178 Nullvalues: 0
var_179 Nullvalues: 0
var_180 Nullvalues: 0
var_181 Nullvalues: 0
var_182 Nullvalues: 0
var_183 Nullvalues: 0
var_184 Nullvalues: 0
var_185 Nullvalues: 0
var_186 Nullvalues: 0
var_187 Nullvalues: 0
var_188 Nullvalues: 0
var_189 Nullvalues: 0
var_190 Nullvalues: 0
var_191 Nullvalues: 0
var_192 Nullvalues: 0
var_193 Nullvalues: 0
var_194 Nullvalues: 0
var_195 Nullvalues: 0
var_196 Nullvalues: 0
var_197 Nullvalues: 0
var_198 Nullvalues: 0
var_199 Nullvalues: 0
var_200 Nullvalues: 0
var_201 Nullvalues: 0
var_202 Nullvalues: 0
var_203 Nullvalues: 0
var_204 Nullvalues: 0
var_205 Nullvalues: 0
var_206 Nullvalues: 0
var_207 Nullvalues: 0
var_208 Nullvalues: 0
var_209 Nullvalues: 0
var_210 Nullvalues: 0
var_211 Nullvalues: 0
var_212 Nullvalues: 0
var_213 Nullvalues: 0
var_214 Nullvalues: 0
var_215 Nullvalues: 0
var_216 Nullvalues: 0
var_217 Nullvalues: 0
var_218 Nullvalues: 0
var_219 Nullvalues: 0
var_220 Nullvalues: 0
var_221 Nullvalues: 0
var_222 Nullvalues: 0
var_223 Nullvalues: 0
var_224 Nullvalues: 0
var_225 Nullvalues: 0
var_226 Nullvalues: 0
var_227 Nullvalues: 0
var_228 Nullvalues: 0
var_229 Nullvalues: 0
var_230 Nullvalues: 0
var_231 Nullvalues: 0
var_232 Nullvalues: 0
var_233 Nullvalues: 0
var_234 Nullvalues: 0
var_235 Nullvalues: 0
var_236 Nullvalues: 0
var_237 Nullvalues: 0
var_238 Nullvalues: 0
var_239 Nullvalues: 0
var_240 Nullvalues: 0
var_241 Nullvalues: 0
var_242 Nullvalues: 0
var_243 Nullvalues: 0
var_244 Nullvalues: 0
var_245 Nullvalues: 0
var_246 Nullvalues: 0
var_247 Nullvalues: 0
var_248 Nullvalues: 0
var_249 Nullvalues: 0
var_250 Nullvalues: 0
var_251 Nullvalues: 0
var_252 Nullvalues: 0
var_253 Nullvalues: 0
var_254 Nullvalues: 0
var_255 Nullvalues: 0
var_256 Nullvalues: 0
var_257 Nullvalues: 0
var_258 Nullvalues: 0
var_259 Nullvalues: 0
var_260 Nullvalues: 0
var_261 Nullvalues: 0
var_262 Nullvalues: 0
var_263 Nullvalues: 0
var_264 Nullvalues: 0
var_265 Nullvalues: 0
var_266 Nullvalues: 0
var_267 Nullvalues: 0
var_268 Nullvalues: 0
var_269 Nullvalues: 0
var_270 Nullvalues: 0
var_271 Nullvalues: 0
var_272 Nullvalues: 0
var_273 Nullvalues: 0
var_274 Nullvalues: 0
var_275 Nullvalues: 0
var_276 Nullvalues: 0
var_277 Nullvalues: 0
var_278 Nullvalues: 0
var_279 Nullvalues: 0
var_280 Nullvalues: 0
var_281 Nullvalues: 0
var_282 Nullvalues: 0
var_283 Nullvalues: 0
var_284 Nullvalues: 0
var_285 Nullvalues: 0
var_286 Nullvalues: 0
var_287 Nullvalues: 0
var_288 Nullvalues: 0
var_289 Nullvalues: 0
var_290 Nullvalues: 0
var_291 Nullvalues: 0
var_292 Nullvalues: 0
var_293 Nullvalues: 0
var_294 Nullvalues: 0
var_295 Nullvalues: 0
var_296 Nullvalues: 0
var_297 Nullvalues: 0
var_298 Nullvalues: 0
var_299 Nullvalues: 0
var_300 Nullvalues: 0
target Nullvalues: 0

In [5]:
from sklearn.feature_selection import VarianceThreshold

In [6]:
reg = VarianceThreshold(threshold=0.01)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x = df.iloc[: , :-1]
y = df.iloc[: , -1]

In [9]:
x_train,x_test,y_train,t_test = train_test_split(x,y,test_size = 0.33,random_state = 42)

In [10]:
x_train.shape , x_test.shape

((33500, 300), (16500, 300))

In [11]:
reg.fit(x_train)

VarianceThreshold(threshold=0.01)

In [12]:
sum(reg.get_support())

212

In [13]:
x_train.columns[reg.get_support()]

Index(['var_1', 'var_3', 'var_4', 'var_5', 'var_6', 'var_8', 'var_11',
       'var_12', 'var_13', 'var_15',
       ...
       'var_286', 'var_288', 'var_290', 'var_291', 'var_292', 'var_293',
       'var_295', 'var_296', 'var_299', 'var_300'],
      dtype='object', length=212)

In [14]:
constant = x_train.columns[~reg.get_support()]

In [15]:
len(constant)

88

In [16]:
for j in constant:
    print(j , x_train[j].unique())

var_2 [0 1]
var_7 [0 3]
var_9 [0 3]
var_10 [0 6 3]
var_14 [0]
var_19 [0 1]
var_23 [0]
var_28 [0 3]
var_33 [0]
var_34 [0]
var_36 [0 3]
var_43 [0 1]
var_44 [0]
var_45 [0 3]
var_53 [0 1]
var_54 [0 1]
var_56 [0 1]
var_61 [0]
var_66 [0]
var_67 [0]
var_69 [0]
var_71 [0 1]
var_73 [0]
var_80 [0]
var_81 [0]
var_87 [0]
var_89 [0.]
var_92 [0]
var_97 [0]
var_99 [0]
var_104 [0 3]
var_106 [0 1]
var_112 [0]
var_113 [0]
var_116 [0 3]
var_120 [0]
var_122 [0]
var_127 [0]
var_129 [0]
var_133 [0 1]
var_135 [0]
var_137 [0 1]
var_141 [0 3]
var_146 [0 6 3 9]
var_158 [0]
var_167 [0]
var_170 [0 3]
var_171 [0]
var_177 [0 1]
var_178 [0.]
var_180 [0.]
var_182 [0]
var_183 [0]
var_187 [0 3]
var_189 [0 3]
var_194 [0 1]
var_195 [0]
var_196 [0]
var_197 [0 1]
var_198 [0 1]
var_201 [0]
var_212 [0]
var_215 [0]
var_218 [0 1]
var_219 [0 1]
var_223 [0 1]
var_225 [0]
var_227 [0.]
var_233 [0 2 1]
var_234 [0 3]
var_235 [0 3]
var_245 [0 1]
var_247 [0 3]
var_248 [0]
var_249 [0 1]
var_250 [0 1]
var_251 [0 2 1 3]
var_256 [0 1]
var_260 [0 1 2 3]
var_267 [0 3]
var_274 [0 3]
var_282 [0 1]
var_285 [0 3]
var_287 [0]
var_289 [0 1]
var_294 [0]
var_297 [0]
var_298 [0 2 3 1]

In [17]:
x_train['var_171'].unique()

array([0], dtype=int64)

In [18]:
C = x_train.columns[reg.get_support()]

In [19]:
C

Index(['var_1', 'var_3', 'var_4', 'var_5', 'var_6', 'var_8', 'var_11',
       'var_12', 'var_13', 'var_15',
       ...
       'var_286', 'var_288', 'var_290', 'var_291', 'var_292', 'var_293',
       'var_295', 'var_296', 'var_299', 'var_300'],
      dtype='object', length=212)

In [20]:
x_train = reg.transform(x_train)

In [21]:
x_test = reg.transform(x_test)

In [22]:
x_train  = pd.DataFrame(x_train,columns = C )

In [23]:
x_test = pd.DataFrame(x_test , columns = C)

In [24]:
x_train.head()

,var_1,var_3,var_4,var_5,var_6,var_8,var_11,var_12,var_13,var_15,...,var_286,var_288,var_290,var_291,var_292,var_293,var_295,var_296,var_299,var_300
0,0.0,0.0,2.79,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,2.79,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,2.76,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,2.88,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0